html {
    font-size: 100%;
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: $background;
    color: $primary;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, ul, ol, dl, dt, dd {
    margin: 0;
}

input, button, textarea, select {
    font: inherit;
}

h1,h2,h3 {
    color: $tertiary;
}

h1 {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 3.5rem;
    letter-spacing: -2.4px;

    @include breakpoint-up(medium){
        font-size: 5rem;
    }
}

h2 {
    margin: 1rem 0;
}

p {
    margin-bottom: 0.5rem;
}

a, a:hover, a:visited {
    text-decoration: none;
}

a {
    color: $primary;
    text-decoration: underline;
    display: block;
    text-align: left;
    padding-bottom: 20px;
}

a:hover {
    text-decoration: none;
}

.formInput {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

section {
    @include breakpoint-up(medium){
        max-width: 500px;
    }
}

.settings label {
    width: 150px;
}

.settings select {
    width: 150px;
    padding: 0.2rem;
    border-radius: 0.35rem;
}

/* .settings input[type=checkbox] {
} */

p em {
    color: $other;
    font-weight: 800;
}

/* Flex helper classes */
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between; 
    }

    &-jc-c {
        justify-content: center; 
    }

    &-ai-c {
        align-items: center; 
    }

    &-column {
        flex-direction: column;
    }
}

.h-100 {
    height: 100%;
}

.m0 {
    margin: 0;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.secondary {
    color: $secondary;
}

.button, button {
    padding: 0.5rem 1.5rem;
    margin: 0.5rem;
    background-color: $secondary;
    border: 1px solid $secondary;
    border-radius: 10px;
    color: $primary;
    transition: transform 200ms;
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &:hover:enabled {
        transform: scale(1.05);
    }
}

.instructions {
    padding: 25px;

    @include breakpoint-up(medium) {
        border: 1px solid $tertiary;
        border-radius: 10%;
        padding: 50px;
    }
}

.record {
    background-color: $other_transparent;
    padding: 15px 10px;
    margin: 20px 0;
    border-radius: 0.4rem;
}

.timerContainer {
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 4rem;
}

.d-none {
    display: none;
}

.btn-center {
    text-align: center;
}