/* $background: #FFEF9F;
$primary: #FF85E2; */

/* $background: #FFFFFF;
$primary: #1D0D3C;
$secondary: #FEC667;
$tertiary: #79C9DE;
$other: #A4DD69; */

$background: #F5F3E8;
$primary: #214842;
$secondary:   #EFC368;
$tertiary:  #258F67;
$other:  #9EBCA6;